.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  background: rgba(2, 6, 23, 0.9);
  backdrop-filter: blur(12px);
  border-bottom: 1px solid #1e293b;
}

.navbar-container {
  max-width: 1200px;
  margin: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 18px 20px;
}

.logo {
  font-size: 2rem;
  font-weight: 700;
}

.white {
  color: white;
}

.cyan {
  color: #22d3ee;
}

.desktop-links {
  display: flex;
  gap: 35px;
}

.desktop-links a {
  text-decoration: none;
  color: #cbd5e1;
  transition: 0.3s;
}

.desktop-links a:hover {
  color: #22d3ee;
}

.menu-btn {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.mobile-menu {
  display: none;
}

@media (max-width: 768px) {

  .desktop-links {
    display: none;
  }

  .menu-btn {
    display: block;
  }

  .logo {
    font-size: 1.5rem;
  }

  .mobile-menu {
    display: flex;
    flex-direction: column;

    background: #020617;

    max-height: 0;
    overflow: hidden;

    transition: all 0.3s ease;
  }

  .mobile-menu.active {
    max-height: 400px;
    padding: 15px 0;
  }

  .mobile-menu a {
    color: white;
    text-decoration: none;
    padding: 12px 20px;
    border-top: 1px solid #1e293b;
  }

  .mobile-menu a:hover {
    color: #22d3ee;
  }
}